.galua_section_label {
  font-style: italic;
  float: right;
  color: #999;
}

.collapsible-header {
  background-color: #e4e4e4;
}
.galua_section_container {
  padding: 1em;
}

table.bordered > caption {
  text-align: left;
  padding: 15px 5px 0px 5px;
  font-style: italic;
  color: #999;
  font-size: smaller;
}

td {
        padding: 0px 15px;
        vertical-align: top;
}

.galua_function_chip {
  display: inline-block;
  vertical-align: middle;
  font-size: small;
  width: 3em;
  height: 3ex;
  line-height: 3ex;
  text-align: center;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  padding: 0 6px;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.galua_function_chip.Lua {
  background-color: #30d717;
}

.galua_function_chip.C {
  background-color: #ffc300;
}

/* Used for non-important things like: (this is empty) */
.galua_remark {
  color: #999;
  font-size: smaller;
  font-style: italic;
  padding: 15px;
}


